body{
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(185, 21, 46);


    background-image: url("img/japan-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; 
    background-size: cover;

}
h1 { 
  font-family: "Josefin Sans", helvetica, sans-serif;
  color: rgb(17, 11, 12);
  font-size: 4em;
  place-content: top center;
  margin: 0;
 }

.content {
  background-color: white;
  padding: 1em;
  font-size: 1.2em;
  max-width: 50%;
  margin: 5rem auto;
  background-color: white;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  
}