body{
    height: 50%;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(185, 21, 46);


    background-image: url("img/japan-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; 
    background-size: cover;

}
h1 { 
  font-family: "Josefin Sans", helvetica, sans-serif;
  color: rgb(185, 21, 46);
  font-size: 10em;
  display: grid;
  place-content: top center;
  min-height:100vh;
  margin:0;
 }

.content {
  background-color: white;
  padding: 1em;
  font-size: 1.2em;
  height: 50em;
  margin: auto;
  background-color: white;
  
}